.fairy { 
    margin-top: 180px;
    &__title  { 
        font-family: Balqis;
        
        font-weight: 300;
        font-size: 96px;
        margin-top: 140px;
        color: #E2AB3F;
       
    
    }
    &__subtitle { 
        display: block; 
        font-family: 'RobotoCondensed-LightItalic';  
        font-weight: 300;
        font-size: 24px;
        margin-top: -44px;
        margin-left: 179px;
        color: #000000;
    }
    &__slider {
        margin-top: 100px;
        
        position: relative;
    }
    &__inner { 
        width: 50%;
    }
   &__wrapper { 
       position: absolute;
       max-width: 1200px;
       margin: 0 auto;
       top: 0;
       right: 0;
       left: 0;
       bottom: 0;
   }
   &__inner-text { 
       width: 50%;
       height: 100%;
       margin-left: auto;
       padding-left: 55px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       div { 
        font-weight: 400;
        font-size: 18px;
       font-family: 'RobotoCondensed-Regular';
        
        color: #000000;
       }
       
   }
   &__text { 
        font-weight: 300;
        font-size: 18px;
        color: #000000;
   }
   
    
}
.slick-prev { 
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 5;
    background-color: transparent;
    
    img {
        width: 70px;
        height: 70px;
    }
}
.slick-next {
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 5;
    background-color: transparent;
    
    img {
        width: 70px;
        height: 70px;
    }
}