.price { 
    margin-top: 150px;
    background: url(../../icons/ballon.png) center (right / 20%) no-repeat;
  
    
    &__subtitle { 
        margin-left: 122px;
    }
    &__content { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 128px;
        
    }
    &__subtext { 
        font-size: 22px;
        line-height: 28px;
        padding-left: 0;
        color: #000000;
    }
    &__text { 
        list-style-type: none;
        width: 530px;
        font-weight: 300;
        font-size: 16px;
        padding-left: 0;

        li { 
            margin-top: 25px;
        }
    }
    
}