.title  { 
    font-family: Balqis;
    
    font-weight: 300;
    font-size: 96px;
    margin-top: 140px;
    color: #E2AB3F;
   

}
.subtitle { 
    display: block; 
    font-family: 'RobotoCondensed-LightItalic';  
    font-weight: 300;
    font-size: 24px;
    margin-top: -44px;
    margin-left: 179px;
    color: #000000;
}